<div mat-dialog-content style="padding-bottom: 10px">
  <mat-form-field>
    <mat-label>Select Manager</mat-label>
    <mat-select [(ngModel)]="email">
      <mat-option *ngFor="let user of data.list" [value]="user.email">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-danger" (click)="onNoClick()">Cancle</button>
  <div style="padding-right: 30px"></div>
  <button class="btn btn-primary" mat-button [mat-dialog-close]="{selected_user: this.email}" cdkFocusInitial>Submit</button>
</div>
