<h1>Welcome {{user}}!</h1>

<mat-paginator [length]="length" [pageSize]="10" [hidePageSize]="true" (page)="on_page_change($event)">
</mat-paginator>
<mat-card>
  <mat-card-title>
  <a>Task List</a>
  </mat-card-title>
  <mat-card-content style="padding-top: 10px;padding-bottom: 10px">
    <table style="width: 80%">
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Description</th>
        <th>URL</th>
        <th>Created On</th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let task of task_list">
        <td>{{ task_list.indexOf(task)+1 }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.description }}</td>
        <td><a href="{{task.url}}">{{ task.url}}</a></td>
        <td>{{task.created_on}}</td>
        <td>{{ task.status }}</td>
        <td><button class="btn btn-danger" *ngIf="task.status === 'in progress'" (click)="end_task(task.id,email)">End Task</button><a *ngIf="task.status === 'completed'">Ended on : {{task.end_on}}</a></td>
      </tr>
    </table>
  </mat-card-content>
  <button class="btn btn-primary" (click)="openDialog()">+ Add Task</button>
</mat-card>


